.mainContainer {
    margin: 0 auto;
    display: flex;
    /* justify-content: flex-start; */
    /* min-height: 100vh; */
    min-width: 300px;
    color: #222;
    flex-direction: column;
    gap: 5px;
    background: radial-gradient(circle, skyblue, steelblue);
    padding: 5px;
}



h2 {
    margin: 0 auto;
    font-size: 30px;
}



div {
    width: 250px;
    display: flex;
    padding: 0;
}

.wind-container {
    flex-direction: column;
}

.headerContainer {
    align-items: center;
    justify-content: space-around;
}